#dialog{
	border-style:solid;
	border-radius:5%;;
	background-color:blue;
}


#dialog h1{
	padding-left:0.5em;
}

#dialog a{
	text-transform: uppercase;
	color:white;
	border-style:solid ;
	border-radius:1em;
	border-color:black;
	background-color:blue;
	font-size:1em;
	text-decoration:none;
}
#dialog td{
	width:100%;
}
#dialog tr td{
	width:100%;
}
#dialog textarea{
	resize: none;
	width:98%;
	padding:0;
}
/*
#upload{
	width:60%;
	padding-left:10px;
}*/
#fileToUpload{
	border:none;
	width:80%;
	padding-left:20px; 
}