/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color: #FFF;
	}
	
	.title .byline
	{
		font-size: 1.1em;
		color: rgba(255,255,255,.5);
	}

	
	
/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


	.wrapper
	{
		overflow: hidden;
		padding: 1em 0em 5em 0em;
	}

	#wrapper1
	{
		background: #FFF;
	}

	#wrapper2
	{
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
	}

	#wrapper3
	{
	}
	
	#wrapper4
	{
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		width: 1200px;
		padding: 2em 0px 0em 0px;
		text-align: center;
	}
	
	#welcome .content
	{
		padding: 0em 8em;
	}
	
		#welcome .image
		{
			display: block;
			padding-top: 3em;
			border: none;
		}

	#welcome .title h2
	{
		color: #FFF;
	}
	
	#welcome a,
	#welcome strong
	{
		color: #C6C2C4;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		overflow: hidden;
		padding: 3em 0em 0em 0em;
		text-align: center;
	}

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 700px;
		padding-right: 100px;
		border-right: 1px solid rgba(0,0,0,.1);
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 350px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		text-align: center;
	}

	
	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
		text-align: center;
	}
	
	#copyright p
	{
		letter-spacing: 1px;
		font-size: 0.90em;
		color: rgba(255,255,255,0.6);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

	#newsletter
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #EDEDED;
		text-align: center;
	}
	
	#newsletter .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#newsletter .content
	{
		width: 600px;
		margin: 0px auto;
	}
	
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	{
		margin-left: auto;
		margin-right: auto;
		padding-left: auto;
		padding-right: auto;
	}
	
	.box
	{
		border-style:solid;
		border-radius: 2%;
		border-color: white;
		text-align: center;
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		font-size: 1em;
		color: rgba(255,255,255,1);
	}

	#portfolio .title
	{
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}


	.column{
		display:inline;
		margin-bottom: 2%;
		margin-right: 0.5%;
		margin-left: 0.5%;
		width: 24%;
		float: left;
	}

/**********************************/
/***********ProfileInfo************/
/**********************************/

#profile
{
	background-color: #445a88;
	border-radius: 20px;
    box-shadow: 5px 5px 10px #333;
	overflow: hidden;
	margin: 0px auto;
	padding: 10px;
	margin-bottom: 0px;
}

#profileInfo
{	
	margin: 0px auto;
	padding: 10px;
	margin-bottom: 2.5%;
}

#profilePic
{
	display: inline-block;
	float:left;
	padding-left:2%;
}

#profileDescription
{
	margin: 0px auto;
	padding: 0px;
	padding-left: 2.5%;
	display: inline-block;
	float: left;
}

a
{
	color: white;
}

.descriptionP
{
	font-size: 175%;
	line-height: 120%;
	font-weight: bolder;
}

.subTitle
{
	font-size: 125%;
	font-weight: bold;
}

/******************************/
/*******Edit Profile***********/
/******************************/

#optionButtons
{
    margin: auto;
    padding-top: 1%;
    border-spacing: 10px;   
}

#optionButtons td
{
    margin: auto;
    margin-right: 3%;
    margin-left: 3%;
}

#optionButtons input
{	
    width: 100%;
    height: 42px;
    line-height: 20%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    background: #76A9C5;
}

.editInfoDiv div
{
    float: left;
}

.editInfoForm
{
    box-shadow: 5px 5px 8px #999;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #445a88;
	border-radius: 20px;
	overflow: hidden;
	margin: 0px auto;
	margin-bottom: 40px;
}

.editInfoForm div
{
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	margin-left: 25%;
}

#message, #message1, #inviteMessage {
    border-radius: 5px;
    border: 3px solid #222;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    margin-left: 0%;
    background: #ff6666;
    text-align: center;
    color: black;

    margin-top: 15px;
}

#description{
    display: inline-block;
    float: left;
    margin-left: 10%;
}

#description p{
    padding-top:3px;
}

#inputsDiv div {
    margin-top: 0px;
    margin-bottom: 11px;
}

input {
    font-size: 20px;
    text-align: center;
}

select {
    font-size: 20px;
}



input#saveButton
{   
    width: 20%;
    height: 42px;
    margin-left: 40%;
    line-height: 20%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    background: #76A9C5;
}

#eventImage{
	width:116px;
}

#comments{

	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#comments h2{
	width:100%;
	padding: 1em;
	float: left;
	color:white;
    font-weight: bold;
    font-family: Montserrat;
    text-align: left;
}

.comment-box{
	margin-top: 0.4em;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-color: black;
	border-radius: 1em;
	width:80%;
	height:10%;
	background-color: #409DE4;
	box-shadow:0px 0px 10px #bbb;
}

.comment-box h3{
	color:white;
    font-weight: bold;
    font-family: Montserrat;
    text-align: left;	
}
.comment-box img{
	padding:0.2em;
	border-radius: 1em;
}
.comment-box p{
	text-align: left;
}

#userComment{
	resize: none;
	margin-bottom:0.5em;
	margin-top:0.2em;
	border-radius: 1em;
}
#addComment{
	float:right;
	margin-bottom: 0.2em;
	border-radius: 1em;
}
#userComment{
	width: 90%;
	height: 90%;
}

/******************************/
/*******Edit Modal	***********/
/******************************/

.modal {
	height: 100%;
	width: 100%;

	background-color: rgba(24, 24, 24, 0.9);

	margin: 0;
	padding: 0;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: none;
	z-index: 99999;
}

.modal-form {
	width: 25rem;

	padding: 0rem 4rem;
	background-color: #76A9C5;
	box-sizing: border-box;

	margin: 0rem auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#invitedUsername {
	width: 104%;
}

#invitedUsernameDiv {
	padding-top:10%;
}

#inviteTable input{
	width: 140px;

}

#inviteMessage{
	padding: 0;
	margin: 0 auto;
	margin-right: -5%;	
	text-align: center;
}