
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image-full
{
	display: block;
	margin: 0 auto;
	height: 480px;
	width: 720px;
	padding-bottom: 1em;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
	margin-bottom: 3em;
}

.title h2
{
	font-size: 2.8em;
	color: #FFF;
}

.title .byline
{
	font-size: 1.1em;
	color: rgba(255,255,255,.5);
}


/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

.wrapper
{
	overflow: hidden;
	padding: 0em 0em 5em 0em;
}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
	overflow: hidden;
	width: 1200px;
	padding: 2em 0px 0em 0px;
	text-align: center;
}

#welcome .content
{
	padding: 0em 8em;
}

	#welcome .image
	{
		display: block;
		padding-top: 3em;
		border: none;
	}

#welcome .title h2
{
	color: #FFF;
}

#welcome a,
#welcome strong
{
	color: #C6C2C4;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page-wrapper
{
	overflow: hidden;
	padding: 3em 0em 0em 0em;
	text-align: center;
}
