video#introVideo { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../Resources/Intro/intro.jpg') no-repeat;
    background-size: cover; 
}

h1{
    color: #76A9C5;
    text-align: center;
    font-family: "Mistral", Mistral, serif;
    font-size:12em;
}

#mainPageButton{
    text-align:  center;
}