html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #334467;
	font-family: 'Questrial', sans-serif;
	font-size: 12pt;
	color: #E5EEFF;
}


h1, h2, h3
{
	margin: 0;
	padding: 0;
	color: #404040;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

a
{
	color: #16A085;
}

a:hover
{
	text-decoration: none;
}


.container
{
	margin: 0px auto;
	width: 1200px;
}




/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
	display: inline-block;
	margin-top: 2em;
	padding: 0.8em 2em;
	background: #3E5A99;
	line-height: 1.8em;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 1em;
	color: #FFF;
}

.button:before
{
	display: inline-block;
	background: #8DCB89;
	margin-right: 1em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #272925;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper 
{
	overflow: visible;
	padding: 6em 0em 2em 0em;
}

#header
{
	text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/


#logo h1
{
	display: inline-block;
	margin-bottom: 0.20em;
	padding: 0.20em 0.9em;
	font-size: 3.5em;
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}

#logo span
{
	padding-right: 0.5em;
	text-transform: uppercase;
	font-size: 0.90em;
	color: rgba(255,255,255,1);
}

#logo span a
{
	color: rgba(255,255,255,0.8);
}



/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu{
	text-decoration: none;
	height: 30px;
	padding-bottom: 2em;
}

#menu a {
	font-size: 1.5em;
	text-decoration: none;
	color: rgba(255,255,255,1);
	margin-top: 40px;
}


#menu ul {
  margin-top:10px;
  margin-bottom: 2%; 
  display: inline;

}

#menu ul li {
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  width:18%;
  height: 114%;
  display: inline-block;
  background: #3E5A99;
  cursor: pointer;
}

#menu ul li:hover {
  background: #3E4399;
  color: #fff;
}

#menu ul li ul {
  padding: 0;
  position: absolute;
  width: 13%;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
}

#menu ul li ul li { 
  width:100%; 
  background: #3E5A99; 
  display: block; 
  color: #fff;
}

#menu ul li ul li:hover {
	background: #3E4399; 	
}

#menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

