
/**********************************/
/***********ProfileInfo************/
/**********************************/

#profile
{
	background-color: #445a88;
	border-radius: 20px;
	overflow: hidden;
	margin: 0px;
	padding: 10px;
}

#profileInfo
{
	margin: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#profilePic
{
	float:left;
	padding-left:2%;
}

#profileDescription
{
	padding-right:50%;
}

.descriptionP
{
	font-size: 150%;
	font-weight: bolder;
}