
/**********************************/
/***********ProfileInfo************/
/**********************************/

#profile
{
	background-color: #445a88;
	border-radius: 20px;
    box-shadow: 5px 5px 10px #333;
	overflow: hidden;
	margin: 0px auto;
	padding: 10px;
	margin-bottom: 0px;
}

#profileInfo
{	
	margin: 0px auto;
	padding: 10px;
	margin-bottom: 2.5%;
}

#profilePic
{
	display: inline-block;
	float:left;
	padding-left:2%;
}

#profileDescription
{
	margin: 0px auto;
	padding: 0px;
	padding-left: 2.5%;
	display: inline-block;
	float: left;
}

a
{
	color: white;
}

.descriptionP
{
	font-size: 175%;
	line-height: 120%;
	font-weight: bolder;
}

.subTitle
{
	font-size: 125%;
	font-weight: bold;
}

/******************************/
/*******Edit Profile***********/
/******************************/

.editInfoDiv
{
    padding-left: 45%;
    padding-right: 55%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    width:300px;
}


.editInfoDiv #editInfo, #deleteProfile
{	
    width: 50%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    outline: none;
    background: #76A9C5;
    text-align: center;
}
#deleteProfile{
    float:right;
}



.editInfoForm
{
    box-shadow: 5px 5px 8px #999;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #445a88;
	border-radius: 20px;
	overflow: hidden;
	margin: 0px auto;
	margin-bottom: 40px;
}

.editInfoForm div
{
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	margin-left: 25%;
}

#saveButton
{
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-weight: bold;
    font-family: Montserrat;
    outline: none;
    background: #76A9C5;
}

#message {
    /* height: 35px; */
    border-radius: 5px;
    border: 3px solid #222;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    margin-left: 0%;
    background: #ff6666;
    text-align: center;
    color: black;

    margin-top: 15px;
}

#description{
    display: inline-block;
    float: left;
    margin-left: 10%;
}

#description p{
    padding-top:3px;
}

#inputsDiv div {
    margin-top: 0px;
    margin-bottom: 11px;
}

input {
    font-size: 20px;
    text-align: center;
}

#save {
    margin: auto;
    text-align: center;
    padding-left: 45%;
    padding-right: 45%;
    width: 10%;
}



